.hero-img {
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
    height: 60vh;
    position: relative;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img::before {
    content: "";
    background: url("https://media.istockphoto.com/id/1345105817/photo/young-female-customer-shopping-in-clothing-store-retail-sales-associate-helps-with-advice.jpg?s=1024x1024&w=is&k=20&c=Pa_Bl-FNNzNTPN-SmoZ7W6m8Dfr9cMem35VGgS4VKvY=");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-img h1 {
    font-size: 2.4rem;
}

.hero-img p {
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .hero-img h1 {
        font-size: 2rem;
    }
}